<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MMG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <MMG.Properties.Settings>
      <setting name="CurrentLanguage" serializeAs="String">
        <value>日本語</value>
      </setting>
    </MMG.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="NewAvatarEntities" connectionString="metadata=res://*/DataModel.AvatarModel.csdl|res://*/DataModel.AvatarModel.ssdl|res://*/DataModel.AvatarModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Users\Lime\Desktop\TestProject10\NewAvatar.mmga&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>